.w {
    width: 1200px;
    margin: 0 auto;
}

/* 头部 */
header {
    margin-top: 20px;
    height: 2px;
    border-bottom: 2px solid rgb(209, 61, 16);
}

/* 个人主体 */
.mainarea {
    height: 650px;
    border: 1px solid #ccc;
    margin-bottom: 300px;
}


/* 左边区域 */
@font-face {
    font-family: 'iconfont';
    src: url('font/iconfont.ttf?t=1638208923673') format('truetype');
   }

.iconfont {
    font-family: "iconfont" !important;
    font-size: 20px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.index{
    float: left;
    width: 400px;
    height: 100%;
}

.index .img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 80px;
    margin-left: 38%;
}

.index .list{
    margin-top: 40px;
}
.index ul li{
    margin-left: 70px;
    width: 260px;
    list-style: none;
    border: 1px solid #000;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    margin-top: 30px;
    border-radius: 20px;
}
.index ul li span{
    margin-left: 60px;
}
.index ul li button{
    background-color: #fff;
    border-color: transparent;  
    box-shadow:none;
    outline: none; 
    margin-left: 16px;
    font-size: 20px;
    text-decoration: none;
}

.index ul li button:hover{
    color: rgb(209, 61, 16);
}

.btn1{
    outline: none;
    margin-top: 50px;
    margin-left: 110px;
    border: 1px solid #000;
    width: 180px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    border-radius: 20px;
}

.btn2{
    outline: none;
    margin-top: 20px;
    margin-left: 110px;
    border: 1px solid #000;
    width: 180px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    border-radius: 20px;
}

/* 右边详细区域 */

.information{
    float: left;
    border-left: 2px solid rgb(209, 61, 16);
    width: 790px;
    height: 100%;
}

.message li{
    margin-top: 60px;
    margin-left: 100px;
    width: 400px;
    list-style: none;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
}

.btn input {
    margin-top: 120px;
    margin-left: 200px;
    padding-left: 10px;
    cursor: pointer;
    outline: none;
    width: 100px;
    height: 34px;
    background-color: #f74b57;
    font-size: 14px;
    color:#fff;
    padding-right: 10px;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.star{
    display: none;
    margin-top: 40px;
    margin-left: 50px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
}

.star  div {
    margin-bottom: 10px;
    border-bottom: 1px dashed rgb(187, 185, 185);
    padding-bottom: 5px;
}
.star  .content {
    border:none;
}

.star div input{
    display: inline-block;
    margin-left: 600px;
    width: 100px;
    border: 2px solid rgb(209, 61, 16);
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.history{
    display: none;
    margin-top: 40px;
    margin-left: 150px;
    width: 260px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
}

.star .navigation {
    margin-top: 5%;
    margin-left: 12%;
}

.star ul li .jumpPage{
    width: 50px;
    margin: 0 10px;
    height: 34px;
    border-radius: 20px;
    outline: none;
    padding-left: 10px;
    font-size: 16px;
}

.star ul li .Page{
    padding-left: 10px;
    cursor: pointer;
    outline: none;
    width: 100px;
    height: 34px;
    background-color: #f74b57;
    font-size: 14px;
    color:#fff;
    padding-right: 10px;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.star .Page:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
